API

function in which by passing right parameters returns result in json formte

extract json data -> python -> get usefull data-> pandas dataframe -> export in form of csv

step 1: create account in tmdb

In [ ]:
#url 
#https://api.themoviedb.org/3/movie/popular?api_key=<<api_key>>&language=en-US&page=1

#https://api.themoviedb.org/3/movie/popular?api_key=<<api_key>>&language=en-US&page=1

In [ ]:
#use to hit url and fetch json data
import requests

In [ ]:
import pandas as pd

In [ ]:
#fetching json data
response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=<<api_key>>&language=en-US&page=1').json()

In [ ]:
response['total_pages']

35778

In [ ]:
response['total_results']

715555

In [ ]:
for i in response['results']:
  print(i['title'])

Terrifier 2
Black Adam
Blade of the 47 Ronin
Terrifier
Jeepers Creepers: Reborn
MexZombies
Fall
Hocus Pocus 2
Terrifier
Orphan: First Kill
Project Gemini
Coco
The Battle at Lake Changjin: Water Gate Bridge
Bullet Train
Pinocchio
Fullmetal Alchemist: The Final Alchemy
The School for Good and Evil
Piggy
Code Name Banshee
Thor: Love and Thunder

In [ ]:
#dict -> dataframe example
d={'Name':['Rahul','Mohit'],'Age':[34,36]}
df=pd.DataFrame(d)
df.head()

    Name  Age
0  Rahul   34
1  Mohit   36

columns to keep [based on common sense and domain knowledge]
1. popularity
2. vote count
3. original language
4. title
5. vote avegrage
6. overview
7. release dte

shape 
- 10000 movies * 7 colums

In [ ]:
#converting data from single page to dataframe
popularity=[]
vote_count=[]
original_language=[]
title=[]
vote_average=[]
overview=[]
release_date=[]
for i in response['results']:
  popularity.append(i['popularity'])
  vote_count.append(i['vote_count'])
  original_language.append(i['original_language'])
  title.append(i['title'])
  vote_average.append(i['vote_average'])
  overview.append('overview')
  release_date.append(i['release_date'])
d={
   'popularity':popularity,
   'vote_count':vote_count,
   'original_language':original_language,
   'title':title,
   'vote_average':vote_average,
   'overview':overview,
   'release_date':release_date,
}
df=pd.DataFrame(d)

In [ ]:
df

,popularity,vote_count,original_language,title,vote_average,overview,release_date
0,7866.782,445,en,Terrifier 2,7.1,overview,2022-10-06
1,4428.609,905,en,Black Adam,6.9,overview,2022-10-19
2,3821.739,47,en,Blade of the 47 Ronin,6.7,overview,2022-10-25
3,3031.419,889,en,Terrifier,6.6,overview,2016-10-15
4,2184.802,430,en,Jeepers Creepers: Reborn,5.7,overview,2022-09-15
5,2784.235,49,es,MexZombies,7.3,overview,2022-10-26
6,2350.808,1650,en,Fall,7.3,overview,2022-08-11
7,1959.906,1036,en,Hocus Pocus 2,7.6,overview,2022-09-27
8,1969.590,42,en,Terrifier,6.5,overview,2011-08-09
9,2009.304,1243,en,Orphan: First Kill,6.8,overview,2022-07-27
10,1881.821,153,en,Project Gemini,5.6,overview,2022-01-06
11,1298.384,16442,en,Coco,8.2,overview,2017-10-27
12,1612.433,23,zh,The Battle at Lake Changjin: Water Gate Bridge,6.4,overview,2022-02-01
13,1641.214,2208,en,Bullet Train,7.5,overview,2022-07-03
14,1605.793,1025,en,Pinocchio,6.7,overview,2022-09-07
15,1682.088,113,ja,Fullmetal Alchemist: The Final Alchemy,6.3,overview,2022-06-24
16,1489.276,502,en,The School for Good and Evil,7.3,overview,2022-10-19
17,1551.583,167,es,Piggy,6.8,overview,2022-10-07
18,1531.732,42,en,Code Name Banshee,5.0,overview,2022-07-01
19,1538.425,4534,en,Thor: Love and Thunder,6.7,overview,2022-07-06

In [ ]:
#converting data from all pages into dataframe
final=pd.DataFrame()
for i in range(1,501):
  response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=<<api_key>>&language=en-US&page={}'.format(i)).json()
  popularity=[]
  vote_count=[]
  original_language=[]
  title=[]
  vote_average=[]
  overview=[]
  release_date=[]
  for i in response['results']: 
    popularity.append(i['popularity'])
    vote_count.append(i['vote_count'])
    original_language.append(i['original_language'])
    title.append(i['title'])
    vote_average.append(i['vote_average'])
    overview.append('overview')
    if 'release_date' in i: 
      release_date.append(i['release_date'])
    else:
      release_date.append('')
  d={
    'popularity':popularity,
    'vote_count':vote_count,
    'original_language':original_language,
    'title':title,
    'vote_average':vote_average,
    'overview':overview,
    'release_date':release_date,
  }
  df=pd.DataFrame(d)
  final=final.append(df,ignore_index=True)

In [ ]:
final.shape

(10000, 7)

In [ ]:
df.to_csv('movies.csv')